{% extends 'base.html' %}
{% block content %}

<h1 style = 'margin-left: 5%; margin-top: 2%;'>Apply for the Club!</h1></br></br>

<p align = "center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSEW65ZzoaUp0kN8Qk382SY4Ns3zvKfsaqL-7PBiIcrxSEVA/viewform?embedded=true" align = "center" width="640" height="1669" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<!-- 
<form style = 'margin-left: 5%; margin-top: 2%; margin-right: 5%;' method = "POST">
  <div class="form-group">
    <label for="exampleInputEmail1">V</label>
    <input type="text" name = "subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email subject">
  </div></br>
  <div class="form-group">
    <label for="exampleInputPassword1">Body</label>
    <input type="text" name = "body" class="form-control" id="exampleInputPassword1" placeholder="Enter your question">
    <small id="emailHelp" class="form-text text-muted">All questions are anonymous.</small>
  </div></br>
  <button type="submit" class="btn btn-primary">Submit Question</button>
</form> -->

{% endblock %}
