{% extends 'base.html' %}
{% block content %}

<h1 style = 'margin-left: 5%; margin-top: 2%;'>Ask Us A Question</h1>

<form style = 'margin-left: 5%; margin-top: 2%; margin-right: 5%;' method = "POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email Subject</label>
    <input type="text" name = "subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email subject">
  </div></br>
  <div class="form-group">
    <label for="exampleInputPassword1">Body</label>
    <input type="text" name = "body" class="form-control" id="exampleInputPassword1" placeholder="Enter your question">
    <small id="emailHelp" class="form-text text-muted">All questions are anonymous.</small>
  </div></br>
  <button type="submit" class="btn btn-primary">Submit Question</button>
</form>

{% endblock %}
